# Build results
bin/
obj/
publish/

# VS temporary files
*.user
.vs/

# OS files
.DS_Store
Thumbs.db

# App Data
App_Data/emails/

# Logs
logs/
*.log

# Secrets (no subir credenciales)
appsettings.Production.json

# IDE
.idea/
.vscode/
